.contact {
  width: 100%;
  background: var(--white-color);
  margin-bottom: 400px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__h2 {
    margin-top: 140px;
    color: var(--black_blue-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;

    @include tablet {
      margin-top: 100px;
    }

    @include small-tablet {
      margin-top: 59px;
      position: relative;
      left: -2px;
    }

    @include mobile {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      margin-top: 30px;
    }
  }

  &__btn {
    width: 100%;
    height: 54px;
    margin-top: 31px;

    @include tablet {
      margin-top: 50px;
    }

    @include small-tablet {
      display: flex;
      justify-content: center;
      margin-top: 36px;
    }

    @include mobile {
      display: flex;
      justify-content: center;
      margin-top: 27px;
    }

    &-real {
      width: 298px;
      height: 54px;
      border: none;
      border-radius: 5px;
      background: var(--orange-color);
      text-transform: uppercase;
      color: var(--white-color);
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;

      @include small-tablet {
        width: 240px;
      }

      @include mobile {
        width: 240px;
      }
    }
  }
}


.massage {
  width: 100%;
  margin-top: 46px;
  display: flex;
  gap: 30px;
  cursor: grab;

  @include tablet {
    margin-top: 30px;
  }

  @include small-tablet {
    height: 360px;
    margin-top: 30px;
    position: relative;
    top: -1px;
  }

  @include mobile {
    height: 360px;
    margin-top: 20px;
    position: relative;
    top: -1px;
  }

  &__card {
    max-width: 268px;
    max-height: 391px;
    border: 2px solid transparent;
    border-radius: 20px;
    background:
      linear-gradient(to right, #F5F7F6, #F5F7F6),
      var(--pink-grad);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    padding: 14px 14px 0px 14px;
    display: flex;
    flex-direction: column;

    @include tablet {
      max-width: 293px;
      max-height: 391px;
    }

    @include small-tablet {
      max-width: 100%;
      max-height: 90px;
      min-height: 90px;
    }

    @include mobile {
      max-width: 100%;
      max-height: 95px;
      min-height: 95px;
      padding: 10px 10px 0px 11px;
    }

    &-user {
      display: flex;
      gap: 10px;

      & .not {
        display: flex;
        flex-direction: column;

        &-2 {
          display: flex;
          flex-direction: row;
          gap: 16px;
        }
      }

      &-avatar {
        width: 37px;
        height: 37px;
        position: relative;
        top: -1px;

        &-no {
          width: 37px;
          height: 37px;
          fill: #767474;
        }
      }

      &-name {
        color: var(--black-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        position: relative;
        top: -1px;

        @include mobile {
          top: 0;
          left: -4px;
        }
      }

      &-local,
      &-date {
        color: #BDBDBD;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
      }

      &-local::after {
        content: "";
        width: 3px;
        height: 3px;
        background: #BDBDBD;
        position: absolute;
        border-radius: 50%;
        margin-left: 8.5px;
        margin-top: 7px;
      }
    }

    &-text {
      height: 326px;
      padding-top: 10px;
      position: relative;
      overflow: scroll;
      cursor: default;

      @include small-tablet {
        height: 37px;
        overflow: overlay;
      }

      @include mobile {
        left: 6px;
        height: 37px;
        overflow: overlay;
      }

      &::-webkit-scrollbar {
        width: 0px;
      }

      &-mass {
        color: #767474;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
      }
    }
  }
}


.swiper-scrollbar {
  margin-top: 21px;
  width: 599px;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  border: 0.5px solid transparent;
  border-radius: 5px;
  background:
    linear-gradient(to right, #F5F7F6, #F5F7F6),
    var(--pink-grad);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  transform: scale(1, 1);
  transition: all 200ms var(--default-cubic) !important;

  @include tablet {
    width: 400px;
  }

  @include small-tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }

  &:hover {
    transform: scale(1.03, 1.6);
    border-radius: 20px;
  }

  &:active {
    transform: scale(1.03, 1.6);
    border-radius: 20px;
  }

  &-drag {
    background: #FE9013;
    border-radius: 5px;
  }
}

.leav-img {
  width: 403px;
  position: absolute;
  z-index: 0;
  right: 0;
  margin-top: -92px;
  object-fit: cover;
  object-position: 160px 0px;

  @include tablet {
    width: 318px;
    margin-top: -96px;
    object-position: 124px 0px;
  }

  @include small-tablet {
    width: 200px;
    margin-top: -53px;
    object-position: 85px 0px;
  }

  @include mobile {
    width: 100px;
    margin-top: -7px;
    object-position: 40px 0px;
  }
}
