.panda {
  width: 100%;
  height: 390px;

  @include small-tablet {
    height: 335px;
  }

  @include mobile {
    height: 187px;
  }

  &-bg-img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;

    &-st {
      display: none;

      @include small-tablet {
        width: 100%;
        height: 100%;
        object-fit:cover;
        object-position: center;
        display: block;
      }
    }

    &-mb {
      display: none;

      @include mobile {
        width: 100%;
        height: 100%;
        object-fit:cover;
        object-position: center;
        display: block;
      }
    }

    @include small-tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }
}
