<div class="contact" id="contact">
  <div class="contact__container container">
    <h2 class="contact__h2">Testimonials</h2>
    <div class="swiper massage">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="massage__card">
            <div class="massage__card-user">
              <div class="massage__card-user-avatar">
                <svg class="massage__card-user-avatar-no">
                  <use xlink:href="./img/sprite.svg#user"></use>
                </svg>
              </div>
              <div class="not">
                <h3 class="massage__card-user-name">Michael John</h3>
                <div class="not-2">
                  <p class="massage__card-user-local">Local Austria</p>
                  <p class="massage__card-user-date">Today</p>
                </div>
              </div>
            </div>
            <div class="massage__card-text">
              <p class="massage__card-text-mass">The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.<br>The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.<br>The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="massage__card">
            <div class="massage__card-user">
              <div class="massage__card-user-avatar">
                <picture>
                  <source srcset="img/users/Oskar.avif" type="image/avif">
                  <source srcset="img/users/Oskar.webp" type="image/webp">
                  <img loading="lazy" src="img/users/Oskar.jpg" class="image massage__card-user-avatar-no" width="37" height="37" alt="user avatar">
                </picture>
              </div>
              <div class="not">
                <h3 class="massage__card-user-name">Oskar Samborsky</h3>
                <div class="not-2">
                  <p class="massage__card-user-local">Local Austria</p>
                  <p class="massage__card-user-date">Yesterday</p>
                </div>
              </div>
            </div>
            <div class="massage__card-text">
              <p class="massage__card-text-mass">The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.<br>The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.<br>The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="massage__card">
            <div class="massage__card-user">
              <div class="massage__card-user-avatar">
                <picture>
                  <source srcset="img/users/Fredericka.avif" type="image/avif">
                  <source srcset="img/users/Fredericka.webp" type="image/webp">
                  <img loading="lazy" src="img/users/Fredericka.jpg" class="image massage__card-user-avatar-no" width="37" height="37" alt="user avatar">
                </picture>
              </div>
              <div class="not">
                <h3 class="massage__card-user-name">Fredericka Michelin</h3>
                <div class="not-2">
                  <p class="massage__card-user-local">Local Austria</p>
                  <p class="massage__card-user-date">Yesterday</p>
                </div>
              </div>
            </div>
            <div class="massage__card-text">
              <p class="massage__card-text-mass">The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.<br>The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.<br>The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="massage__card">
            <div class="massage__card-user">
              <div class="massage__card-user-avatar">
                <picture>
                  <source srcset="/img/users/Mila.avif" type="image/avif">
                  <source srcset="/img/users/Mila.webp" type="image/webp">
                  <img loading="lazy" src="/img/users/Mila.jpg" class="image massage__card-user-avatar-no" width="37" height="37" alt="user avatar">
                </picture>
              </div>
              <div class="not">
                <h3 class="massage__card-user-name">Mila Riksha</h3>
                <div class="not-2">
                  <p class="massage__card-user-local">Local Austria</p>
                  <p class="massage__card-user-date">Yesterday</p>
                </div>
              </div>
            </div>
            <div class="massage__card-text">
              <p class="massage__card-text-mass">The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.<br>The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.<br>The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="massage__card">
            <div class="massage__card-user">
              <div class="massage__card-user-avatar">
                <svg class="massage__card-user-avatar-no">
                  <use xlink:href="./img/sprite.svg#user"></use>
                </svg>
              </div>
              <div class="not">
                <h3 class="massage__card-user-name">Yuuta Segawa</h3>
                <div class="not-2">
                  <p class="massage__card-user-local">Local Austria</p>
                  <p class="massage__card-user-date">Yesterday</p>
                </div>
              </div>
            </div>
            <div class="massage__card-text">
              <p class="massage__card-text-mass">The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.<br>The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.<br>The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.</p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="massage__card">
            <div class="massage__card-user">
              <div class="massage__card-user-avatar">
                <svg class="massage__card-user-avatar-no">
                  <use xlink:href="./img/sprite.svg#user"></use>
                </svg>
              </div>
              <div class="not">
                <h3 class="massage__card-user-name">Oleg Tinkof</h3>
                <div class="not-2">
                  <p class="massage__card-user-local">Local Austria</p>
                  <p class="massage__card-user-date">Yesterday</p>
                </div>
              </div>
            </div>
            <div class="massage__card-text">
              <p class="massage__card-text-mass">The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.<br>The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.<br>The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="contact__btn">
      <button class="contact__btn-real">leave feedback</button>
    </div>
    <picture>
      <source srcset="img/leav.avif" type="image/avif">
      <source srcset="img/leav.webp" type="image/webp">
      <img loading="lazy" src="img/leav.png" class="image leav-img" width="300" height="295" alt="leav">
    </picture>
  </div>
</div>
