<section class="donate" id="donate">
  <div class="donate__container container element-animation">
    <h2 class="donate__h2">Pick and feed a friend</h2>
    <h3 class="donate__h3">
      We know the animals bring you joy, and in these extraordinary times, we’re
      glad.
    </h3>
    <span class="donate__span"
      >During a time when the COVID-19 epidemic is touching all of our lives,
      we’re proud and glad that people around the world find joy in
      PetStory.</span
    >
    <p class="donate__p">
      Even though the zoo has reopened, we need you now more than ever to help
      us deal with these problems. Please consider a gift to our
      <a href="##">Emergency Support Fund</a> .
    </p>
    <div class="donate__hiw">
      <h2 class="donate__hiw-h2">How it works</h2>
      <ul class="donate__hiw-list list-reset">
        <li class="donate__hiw-item">
          <div class="donate__hiw-item-card">
            <svg class="donate__hiw-item-card-pay">
              <use xlink:href="./img/sprite.svg#pay"></use>
            </svg>
          </div>
          <p class="donate__hiw-item-text">Pay with card</p>
        </li>
        <svg class="donate-arrow-1 element-animation-l">
          <use xlink:href="./img/sprite.svg#donate-arrow-1"></use>
        </svg>
        <svg class="donate-arrow-2 element-animation">
          <use xlink:href="./img/sprite.svg#donate-arrow-2"></use>
        </svg>
        <li class="donate__hiw-item">
          <div class="donate__hiw-item-card">
            <svg class="donate__hiw-item-card-zoo">
              <use xlink:href="./img/sprite.svg#zoo"></use>
            </svg>
          </div>
          <p class="donate__hiw-item-text">Payment goes to the zoo</p>
        </li>
        <svg class="donate-arrow-1 element-animation-l">
          <use xlink:href="./img/sprite.svg#donate-arrow-1"></use>
        </svg>
        <svg class="donate-arrow-2 element-animation">
          <use xlink:href="./img/sprite.svg#donate-arrow-2"></use>
        </svg>
        <li class="donate__hiw-item">
          <div class="donate__hiw-item-card">
            <svg class="donate__hiw-item-card-monkey">
              <use xlink:href="./img/sprite.svg#monkey"></use>
            </svg>
          </div>
          <p class="donate__hiw-item-text">
            Your favourite animal gets delicious dish
          </p>
        </li>
      </ul>
      <div class="donate__btn">
        <a href="./donate_page.html">
          <button class="donate__btn-real">Feed a friend now</button>
        </a>
      </div>
    </div>
  </div>
</section>
