<header class="header">
  <div class="header__container container">
    <div class="header__logo">
      <h1 class="header__logo-h1">PetStory online</h1>
      <img
        class="bamboo-svg"
        src="img/svg/bamboo.svg"
        alt="bamboo"
        width="7.03"
        height="20.98"
      />
    </div>
    <nav class="header__nav" title="navigation">
      <ul class="header__nav-list list-reset">
        <li class="header__nav-item">
          <a href="./" class="header__link-item" data-scroll>About</a>
        </li>
        <li class="header__nav-item">
          <a href="#map" class="header__link-item" data-scroll>Map</a>
        </li>
        <li class="header__nav-item">
          <a href="#zoos" class="header__link-item" data-scroll>Zoos</a>
        </li>
        <li class="header__nav-item">
          <a href="./donate_page.html" class="header__link-item" data-scroll>Donate</a>
        </li>
        <li class="header__nav-item">
          <a href="#contact" class="header__link-item" data-scroll
            >Contact us</a
          >
        </li>
      </ul>
    </nav>
    <a class="header__design" href="https://github.com/YuutaCn" target="_blank"
      >Designed by ©</a
    >
    <button
      class="burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <svg class="burger-icon">
        <use xlink:href="./img/sprite.svg#burger_menu"></use>
      </svg>
    </button>
  </div>
</header>
