<section class="map" id="map">
  <div class="map__container container">
    <div class="cards">
      <div class="card card-item-1">
        <div class="card__image">
          <picture>
            <source srcset="img/animals-card/panda.avif" type="image/avif" />
            <source srcset="img/animals-card/panda.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/animals-card/panda.jpg"
              class="image"
              width="366"
              height="366"
              alt="animals"
            />
          </picture>
        </div>
        <div class="card__text">
          <h4 class="card__text-h">giant pandas</h4>
          <p class="card__text-p">Native to Southwest China</p>
        </div>
        <div class="card__nut">
          <picture>
            <source
              srcset="img/animals-card/banana_icon.avif"
              type="image/avif"
            />
            <source
              srcset="img/animals-card/banana_icon.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/animals-card/banana_icon.png"
              class="image"
              width="33"
              height="37"
              alt="banana"
            />
          </picture>
        </div>
      </div>
      <div class="card card-item-2">
        <div class="card__image">
          <picture>
            <source srcset="img/animals-card/eagle.avif" type="image/avif" />
            <source srcset="img/animals-card/eagle.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/animals-card/eagle.jpg"
              class="image"
              width="366"
              height="366"
              alt="animals"
            />
          </picture>
        </div>
        <div class="card__text">
          <h4 class="card__text-h">Eagles</h4>
          <p class="card__text-p">Native to South America</p>
        </div>
        <div class="card__nut">
          <picture>
            <source
              srcset="img/animals-card/meet_icon.avif"
              type="image/avif"
            />
            <source
              srcset="img/animals-card/meet_icon.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/animals-card/meet_icon.png"
              class="image"
              width="48"
              height="38"
              alt="meet"
            />
          </picture>
        </div>
      </div>
      <div class="card card-item-3">
        <div class="card__image">
          <picture>
            <source srcset="img/animals-card/sloth.avif" type="image/avif" />
            <source srcset="img/animals-card/sloth.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/animals-card/sloth.jpg"
              class="image"
              width="366"
              height="366"
              alt="animals"
            />
          </picture>
        </div>
        <div class="card__text">
          <h4 class="card__text-h">Two-toed Sloth</h4>
          <p class="card__text-p">Mesoamerica, South America</p>
        </div>
        <div class="card__nut">
          <picture>
            <source
              srcset="img/animals-card/banana_icon.avif"
              type="image/avif"
            />
            <source
              srcset="img/animals-card/banana_icon.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/animals-card/banana_icon.png"
              class="image"
              width="33"
              height="37"
              alt="banana"
            />
          </picture>
        </div>
      </div>
      <div class="card card-item-4">
        <div class="card__image">
          <picture>
            <source srcset="img/animals-card/penguin.avif" type="image/avif" />
            <source srcset="img/animals-card/penguin.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/animals-card/penguin.jpg"
              class="image"
              width="366"
              height="366"
              alt="animals"
            />
          </picture>
        </div>
        <div class="card__text">
          <h4 class="card__text-h">Penguins</h4>
          <p class="card__text-p">Native to Antarctica</p>
        </div>
        <div class="card__nut">
          <picture>
            <source
              srcset="img/animals-card/meet_icon.avif"
              type="image/avif"
            />
            <source
              srcset="img/animals-card/meet_icon.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/animals-card/meet_icon.png"
              class="image"
              width="48"
              height="38"
              alt="meet"
            />
          </picture>
        </div>
      </div>
      <div class="card card-item-5">
        <div class="card__image">
          <picture>
            <source srcset="img/animals-card/gorilla.avif" type="image/avif" />
            <source srcset="img/animals-card/gorilla.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/animals-card/gorilla.jpg"
              class="image"
              width="366"
              height="366"
              alt="animals"
            />
          </picture>
        </div>
        <div class="card__text">
          <h4 class="card__text-h">Gorillas</h4>
          <p class="card__text-p">Native to Congo</p>
        </div>
        <div class="card__nut">
          <picture>
            <source
              srcset="img/animals-card/banana_icon.avif"
              type="image/avif"
            />
            <source
              srcset="img/animals-card/banana_icon.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/animals-card/banana_icon.png"
              class="image"
              width="33"
              height="37"
              alt="banana"
            />
          </picture>
        </div>
      </div>
      <div class="card card-item-6">
        <div class="card__image">
          <picture>
            <source
              srcset="img/animals-card/alligator.avif"
              type="image/avif"
            />
            <source
              srcset="img/animals-card/alligator.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/animals-card/alligator.jpg"
              class="image"
              width="366"
              height="366"
              alt="animals"
            />
          </picture>
        </div>
        <div class="card__text">
          <h4 class="card__text-h">Alligators</h4>
          <p class="card__text-p">Native to Southeastern U. S.</p>
        </div>
        <div class="card__nut">
          <picture>
            <source
              srcset="img/animals-card/meet_icon.avif"
              type="image/avif"
            />
            <source
              srcset="img/animals-card/meet_icon.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/animals-card/meet_icon.png"
              class="image"
              width="48"
              height="38"
              alt="meet"
            />
          </picture>
        </div>
      </div>
      <div class="card card-item-7">
        <div class="card__image">
          <picture>
            <source srcset="img/animals-card/cheetah.avif" type="image/avif" />
            <source srcset="img/animals-card/cheetah.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/animals-card/cheetah.jpg"
              class="image"
              width="366"
              height="366"
              alt="animals"
            />
          </picture>
        </div>
        <div class="card__text">
          <h4 class="card__text-h">cheetahs</h4>
          <p class="card__text-p">Native to Africa</p>
        </div>
        <div class="card__nut">
          <picture>
            <source
              srcset="img/animals-card/meet_icon.avif"
              type="image/avif"
            />
            <source
              srcset="img/animals-card/meet_icon.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/animals-card/meet_icon.png"
              class="image"
              width="48"
              height="38"
              alt="meet"
            />
          </picture>
        </div>
      </div>
      <div class="card card-item-8">
        <div class="card__image">
          <picture>
            <source
              srcset="img/animals-card/gorilla_2.avif"
              type="image/avif"
            />
            <source
              srcset="img/animals-card/gorilla_2.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/animals-card/gorilla_2.jpg"
              class="image"
              width="366"
              height="366"
              alt="animals"
            />
          </picture>
        </div>
        <div class="card__text">
          <h4 class="card__text-h">Gorillas</h4>
          <p class="card__text-p">Native to Congo</p>
        </div>
        <div class="card__nut">
          <picture>
            <source
              srcset="img/animals-card/banana_icon.avif"
              type="image/avif"
            />
            <source
              srcset="img/animals-card/banana_icon.webp"
              type="image/webp"
            />
            <img
              loading="lazy"
              src="img/animals-card/banana_icon.png"
              class="image"
              width="48"
              height="38"
              alt="meet"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="map__btn element-animation">
      <button class="map__btn-real" name="animal button">
        choose your favorite
      </button>
    </div>
  </div>
  <picture>
    <source srcset="img/palm_foto.avif" type="image/avif" />
    <source srcset="img/palm_foto.webp" type="image/webp" />
    <img
      loading="lazy"
      src="img/palm_foto.png"
      class="image palm-img element-animation-l"
      width="880"
      height="460"
      alt="palm"
    />
  </picture>
  <picture>
    <source srcset="img/strelitzia.avif" type="image/avif" />
    <source srcset="img/strelitzia.webp" type="image/webp" />
    <img
      loading="lazy"
      src="img/strelitzia.png"
      class="image strelitzia-img element-animation"
      width="368"
      height="275"
      alt="strelitzia"
    />
  </picture>
  <div class="pag-slider">
    <div class="pag-slider__left element-animation-l">
      <button class="pag-slider__left-btn">
        <svg class="arrow-left">
          <use xlink:href="img/sprite.svg#arrow-left"></use>
        </svg>
      </button>
    </div>
    <div class="pag-slider__right">
      <button class="pag-slider__right-btn element-animation">
        <svg class="arrow-right">
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
