<div class="paf">
  <div class="paf__container container">
    <h2 class="paf__h2">
      THE ZOO HAS OFFICIALLY REOPENED BUT WE STILL NEED YOUR HELP!
    </h2>
    <p class="paf__p">
      Even though the Zoo has been able to reopen, we are at a greatly reduced
      capacity with educational programs and public and private events cancelled
      or postponed for additional months. We need you now more than ever to help
      ensure that we overcome these challenges. We have been actively raising
      funds in the community, and we are grateful for the generosity. But much
      more support is still needed, and we need your help! Please consider a
      gift today – no matter what size – to help us sustain our mission.
    </p>
    <h3 class="paf__h3"><a>Donation Information</a></h3>

    <div class="paf__donate">
      <h2 class="paf__donate-h2">Pick and feed a friend</h2>
      <p class="paf__donate-p">
        We know the animals bring you joy, and in these extraordinary times,
        we’re glad.
      </p>
      <div class="paf__donate-widjet">
        <div class="paf__donate-widjet-number">
          <div class="paf__donate-widjet-number-diet">
            <div class="paf__donate-widjet-number-diet-day">4</div>
            <div class="paf__donate-widjet-number-diet-text">
              Panda diet for the day.
            </div>
          </div>
          <div class="paf__donate-widjet-number-icon">
            <svg class="paf__donate-widjet-number-icon-svg">
              <use xlink:href="./img/sprite.svg#x_icon"></use>
            </svg>
          </div>
          <div class="paf__donate-widjet-number-icon-widjet">
            <svg class="paf__donate-widjet-number-icon-widjet-svg">
              <use xlink:href="./img/sprite.svg#panda_widget1"></use>
            </svg>
          </div>
        </div>
        <div class="paf__donate-widjet-amount">
          <p class="paf__donate-widjet-amount-text">Amount</p>
          <div class="paf__donate-widjet-amount-dollar">
            <span class="paf__donate-widjet-amount-dollar-item-0">$5000</span>
            <span class="paf__donate-widjet-amount-dollar-item-1">$2000</span>
            <span class="paf__donate-widjet-amount-dollar-item-2">$1000</span>
            <span class="paf__donate-widjet-amount-dollar-item-3">$500</span>
            <span class="paf__donate-widjet-amount-dollar-item-4">$250</span>
            <span class="paf__donate-widjet-amount-dollar-item-5">$100</span>
            <span class="paf__donate-widjet-amount-dollar-item-6">$50</span>
            <span class="paf__donate-widjet-amount-dollar-item-7">$25</span>
          </div>
          <div class="paf__donate-widjet-amount-dot">
            <div class="paf__donate-widjet-amount-dot-item"></div>
            <div class="paf__donate-widjet-amount-dot-item"></div>
            <div class="paf__donate-widjet-amount-dot-item"></div>
            <div class="paf__donate-widjet-amount-dot-item"></div>
            <div class="paf__donate-widjet-amount-dot-item"></div>
            <div class="paf__donate-widjet-amount-dot-item"></div>
            <div class="paf__donate-widjet-amount-dot-item"></div>
            <div class="paf__donate-widjet-amount-dot-item"></div>
          </div>
          <form action="#" class="form">
            <label class="form__label">
              <input
                type="range"
                name="cash"
                class="input-reset form__input form__cash"
                min="0"
                max="7"
                value="2"
              />
            </label>
            <label class="form__label form__label-number">
              <input
                type="number"
                name="number"
                class="input-reset form__input form__number"
                placeholder="Another amount"
              />
              <svg class="form__number-svg">
                <use xlink:href="./img/sprite.svg#dollar"></use>
              </svg>
            </label>
            <div class="form__radio">
              <label class="form__label form__label-radio">
                <input
                type="radio"
                name="radio"
                class="form__input form__radio"
                value="Monthly"
                checked
                />
                <span class="form__radio-fake"></span>
                <span class="form__radio-text">Monthly</span>
              </label>

              <label class="form__label form__label-radio">
                <input
                type="radio"
                name="radio"
                class="form__input form__radio"
                value="Once"
                checked
              />
              <span class="form__radio-fake"></span>
              <span class="form__radio-text">Once</span>
            </label>
          </div>
            <button class="btn-reset form__btn" name="push">
              Feed a friend now
            </button>
            <p class="form__text"><a href="##">Share with your friends on social networks</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
