<div class="panda">
  <picture>
    <source srcset="img/panda_bg.avif" type="image/avif">
    <source srcset="img/panda_bg.webp" type="image/webp">
    <img loading="lazy" src="img/panda_bg.jpg" class="image panda-bg-img" width="1600" height="390" alt="panda-bg">
  </picture>
  <picture>
    <source srcset="img/panda_bg-st.avif" type="image/avif">
    <source srcset="img/panda_bg-st.webp" type="image/webp">
    <img loading="lazy" src="img/panda_bg-st.jpg" class="image panda-bg-img-st" width="640" height="335" alt="panda-bg">
  </picture>
  <picture>
    <source srcset="img/panda_bg-mb.avif" type="image/avif">
    <source srcset="img/panda_bg-mb.webp" type="image/webp">
    <img loading="lazy" src="img/panda_bg-mb.jpg" class="image panda-bg-img-mb" width="320" height="187" alt="panda-bg">
  </picture>
  <div class="panda__container container">

  </div>
</div>
